<header class="header">
    <div class="header_logo">fluidity-ui docs</div>
    <nav class="header_nav">
        <ul class="header_nav_list">
            <li>
                <a href="https://github.com/avesia/fluidity-ui">GitHub</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 1460px;
        width: 100%;
        margin: auto;
        padding: 5px 10px;
    }

    .header .header_logo {
        font-family: monospace;
        font-size: 1rem;
        font-weight: bolder;
    }

    .header .header_nav .header_nav_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;

        list-style: none;
    }
</style>
